### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Build Output ###
build/
target/
out/
logs/

### Kotlin ###
.kotlin/

### Gradle ###
.gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/