<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">

  <!-- 导入 spring boot 预设配置文件 -->
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <!-- 复写日志格式 -->
  <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd'T'HH:mm:ssXXX}){faint} %clr(%5p) %clr(${PID:-}){magenta} %clr(--- %esb(){APPLICATION_NAME}%esb{APPLICATION_GROUP}[%15.15t]){faint}%clr(%-40.40logger{39}){cyan} : %m%n%wEx"/>
  <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd'T'HH:mm:ssXXX} %5p ${PID:-} --- %esb(){APPLICATION_NAME}%esb{APPLICATION_GROUP}[%t] %-40.40logger{39} : %m%n%wEx"/>

  <!-- 定义日志所属模块 -->
  <property name="CURRENT_MODULE" value="jpa"/>

  <!-- 向控制台输出日志 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>${CONSOLE_LOG_CHARSET}</charset>
    </encoder>
  </appender>

  <!-- 向文件输出日志 -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
      <charset>${FILE_LOG_CHARSET}</charset>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${CURRENT_MODULE}/logs/spring-%d{yyyy-MM-dd}-no-%i.log</fileNamePattern>
      <maxFileSize>1MB</maxFileSize>
      <maxHistory>15</maxHistory>
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>
  </appender>

  <!-- 启用日志输出 -->
  <root level="info">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>
